name: CI - Push na Main

on:
  push:
    branches: [ main ]

jobs:
  # Job 1: Verificação de Estilo de Codificação (Linting)
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x] 

    steps:
    - name: 1. Checkout do Código (Branch do Push)
      uses: actions/checkout@v4

    - name: 2. Instalar Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: 3. Instalar Dependências do Projeto
      run: npm install
      
    - name: 4. Executar o ESLint
      run: npm run lint
  #Job 2: Testes
  test:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        node-version: [18.x, 20.x] 

    steps:
    - name: 1. Checkout do Código
      uses: actions/checkout@v4

    - name: 2. Instalar Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: 3. Instalar Dependências do Projeto
      run: npm install
      
    - name: 4. Executar Testes
      run: npm test

  # Job 3: Build da Imagem Docker
  docker_build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: 1. Checkout do Código
      uses: actions/checkout@v4

    - name: 2. Login no Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: 3. Build da imagem Docker
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME}}/api-filmes-js:latest .

    - name: Salvar imagem Docker como artefato
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: .

  # Job 4: Push da Imagem Docker
  docker_push:
    runs-on: ubuntu-latest
    needs: docker_build
    steps:
    - name: 1. Login no Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME}}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: 2. Push da imagem Docker para o Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME}}/api-filmes-js:latest

  #Job 5: Verificação de segurança da imagem Docker com Trivy
  docker_security_scan:
    runs-on: ubuntu-latest
    needs: docker_build
    steps:
    - name: 1. Análise de Segurança da Imagem Docker com Trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ secrets.DOCKERHUB_USERNAME}}/api-filmes-js:latest