name: CI - Push na Main

on:
  push:
    branches: [ main ]

jobs:

  # -------------------------
  # JOB 1: LINT
  # -------------------------
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Instalar dependências
        run: npm install

      - name: Executar ESLint
        run: npm run lint

  # -------------------------
  # JOB 2: TESTES
  # -------------------------
  test:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Instalar dependências
        run: npm install

      - name: Executar testes
        run: npm test

  # -------------------------
  # JOB 3: BUILD + PUSH (docker/build-push-action)
  # -------------------------
  docker_build_and_push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login no DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build e Push da imagem para o DockerHub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/api-filmes-js:latest

  # -------------------------
  # JOB 4: SCAN DE SEGURANÇA
  # -------------------------
  docker_security_scan:
    runs-on: ubuntu-latest
    needs: docker_build_and_push

    steps:
      - name: Executar Trivy no DockerHub
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/api-filmes-js:latest
