name: CI - Pull Request

on:
  pull_request:
    branches: [ main ]

jobs:
  # Primeiro verificamos o estilo de codificação (Linting)
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x] 

    steps:
    - name: 1. Checkout do Código (Branch do PR)
      uses: actions/checkout@v4

    - name: 2. Instalar Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: 3. Instalar Dependências do Projeto
      run: npm install
      
    - name: 4. Executar ESLint
      run: npm run lint

  # Job 2: Fará os Testes e Verificações
  test_coverage:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        node-version: [18.x, 20.x] 

    steps:
    - name: 1. Checkout do Código
      uses: actions/checkout@v4
  
    - name: 2. Instalar Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
  
    - name: 3. Instalar Dependências
      run: npm install

    - name: 4. Executar os teste na aplicação
      run: npm test